@import "/src/styles/abstracts/mixins";
@import "/src/styles/abstracts/colors";

.main-page {
  &-best-brands {
    background-color: #f9f9f9;
    padding: 50px 0;

    &__slider {
      .swiper-best-brands {
        .swiper-slide {
          display: block;
          background: transparent;
        }

        .swiper-button-next,
        .swiper-button-prev {
          color: #707070;

          &:after {
            font-size: 23px;
          }
        }
      }
    }

    &__title {
      h4 {
        font-size: 28px;
        margin-bottom: 50px;
        font-weight: 500;
        text-align: center;
      }
    }

    &-slider {
      &__link {
        figure {
          img {
            background-color: #fff;
            border-radius: 10px;
          }
        }
      }
    }

    .btn-more {
      @include button(
        $color: $green-color,
        $border-color: #ccc,
        $background-color: transparent
      );
      font-size: 19px;
      font-weight: 500;
      width: 20%;
      padding: 13px;

      &:hover {
        border-color: $green-color;
        border-width: 1px;
      }
    }
  }
}
