<section class="main-page-best-brands my-5">
  <div class="container">
    <div class="row justify-content-center mb-4">
      <div class="col-md-6 main-page-best-brands__title text-center">
        <h4>برترین برندها در بانی‌مد</h4>
      </div>
    </div>
    <div class="row main-page-best-brands__slider">
      <!-- Swiper -->

      <swiper
        class="swiper-bestsilling position-relative overflow-hidden"
        [slidesPerView]="8"
        [spaceBetween]="50"
        [loop]="true"
        [autoHeight]="true"
        [allowTouchMove]="true"
      >
        <ng-template swiperSlide>
          <div class="swiper-slide">
            <a href="" class="main-page-best-brands-slider__link">
              <figure class="mb-0">
                <img
                  src="/assets/img/best-brands/1.jpg"
                  alt="brand"
                  width="114"
                  height="58"
                  title="brand"
                  class="object-fit-cover"
                />
              </figure>
            </a>
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="swiper-slide">
            <a href="" class="main-page-best-brands-slider__link">
              <figure class="mb-0">
                <img
                  src="/assets/img/best-brands/2.jpg"
                  alt="brand"
                  width="114"
                  height="58"
                  title="brand"
                  class="object-fit-cover"
                />
              </figure>
            </a>
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="swiper-slide">
            <a href="" class="main-page-best-brands-slider__link">
              <figure class="mb-0">
                <img
                  src="/assets/img/best-brands/3.jpg"
                  alt="brand"
                  width="114"
                  height="58"
                  title="brand"
                  class="object-fit-cover"
                />
              </figure>
            </a>
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="swiper-slide">
            <a href="" class="main-page-best-brands-slider__link">
              <figure class="mb-0">
                <img
                  src="/assets/img/best-brands/4.png"
                  alt="brand"
                  width="114"
                  height="58"
                  title="brand"
                  class="object-fit-cover"
                />
              </figure>
            </a>
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="swiper-slide">
            <a href="" class="main-page-best-brands-slider__link">
              <figure class="mb-0">
                <img
                  src="/assets/img/best-brands/5.png"
                  alt="brand"
                  width="114"
                  height="58"
                  title="brand"
                  class="object-fit-cover"
                />
              </figure>
            </a>
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="swiper-slide">
            <a href="" class="main-page-best-brands-slider__link">
              <figure class="mb-0">
                <img
                  src="/assets/img/best-brands/6.png"
                  alt="brand"
                  width="114"
                  height="58"
                  title="brand"
                  class="object-fit-cover"
                />
              </figure>
            </a>
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="swiper-slide">
            <a href="" class="main-page-best-brands-slider__link">
              <figure class="mb-0">
                <img
                  src="/assets/img/best-brands/7.jpg"
                  alt="brand"
                  width="114"
                  height="58"
                  title="brand"
                  class="object-fit-cover"
                />
              </figure>
            </a>
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="swiper-slide">
            <a href="" class="main-page-best-brands-slider__link">
              <figure class="mb-0">
                <img
                  src="/assets/img/best-brands/8.jpg"
                  alt="brand"
                  width="114"
                  height="58"
                  title="brand"
                  class="object-fit-cover"
                />
              </figure>
            </a>
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="swiper-slide">
            <a href="" class="main-page-best-brands-slider__link">
              <figure class="mb-0">
                <img
                  src="/assets/img/best-brands/9.jpg"
                  alt="brand"
                  width="114"
                  height="58"
                  title="brand"
                  class="object-fit-cover"
                />
              </figure>
            </a>
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="swiper-slide">
            <a href="" class="main-page-best-brands-slider__link">
              <figure class="mb-0">
                <img
                  src="/assets/img/best-brands/10.jpg"
                  alt="brand"
                  width="114"
                  height="58"
                  title="brand"
                  class="object-fit-cover"
                />
              </figure>
            </a>
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="swiper-slide">
            <a href="" class="main-page-best-brands-slider__link">
              <figure class="mb-0">
                <img
                  src="/assets/img/best-brands/11.png"
                  alt="brand"
                  width="114"
                  height="58"
                  title="brand"
                  class="object-fit-cover"
                />
              </figure>
            </a>
          </div>
        </ng-template>
      </swiper>
    </div>

    <div class="row justify-content-center my-5">
      <a href="" class="button btn-more"> مشاهده همه برندها </a>
    </div>
  </div>
</section>
