<section class="product-list mt-3 mb-5">
  <div class="container">
    <div class="my-4">
      <h3>ساعت</h3>
    </div>
    <div class="row">
      <div class="col-md-3 col-12 product-filter-sidebar">
        <div class="search-box position-relative">
          <input
            type="search"
            name=""
            placeholder="جستجو در محصولات زیر ..."
            id="search-input"
            data-bs-toggle="modal"
            data-bs-target="#SearchBoxModal"
          />
          <button class="" id="search-btn">
            <i class="fa-solid fa-search"></i>
          </button>
        </div>

        <div
          class="d-flex flex-row justify-content-between align-content-center py-4"
        >
          <h6 class="m-0">فیلتر های اعمال شده :</h6>
          <button class="remove-filters">حذف فیلترها</button>
        </div>

        <div>
          <app-categories-filter></app-categories-filter>
          <app-brands-filter></app-brands-filter>
          <app-prices-filter></app-prices-filter>
        </div>
      </div>
      <div class="col-md-9 col-12">
        <app-pagination
          [index]="currentPage"
          (page)="pageEvent($event)"
        ></app-pagination>
        <div class="product-list-box">
          <div class="row">
            <ng-container *ngIf="productList$ | async; else empty">
              <div
                *ngFor="let product of productList$ | async"
                class="col-md-4 col-12 pb-4 px-3 product-list-item"
              >
                <a [routerLink]="[product.id]" class="product-list__image">
                  <figure class="mb-0">
                    <img
                      [src]="product.images.large_default[0]"
                      alt="amazin product"
                      width="275"
                      height="330"
                      title="amazin product"
                      class="object-fit-cover"
                    />
                    <img
                      [src]="product.images.large_default[1]"
                      alt="amazin product"
                      width="275"
                      height="330"
                      title="amazin product"
                      class="object-fit-cover product-list__image-hover-show"
                    />
                    <figcaption
                      *ngIf="product.product_specific_price?.discount_percent"
                      class="semicircular-badge font-number"
                    >
                      {{
                        product.product_specific_price?.discount_percent + "%"
                      }}
                    </figcaption>
                  </figure>
                </a>
                <a
                  [routerLink]="[product.id]"
                  class="d-flex justify-content-between mt-3"
                >
                  <h4 class="product-list__brands">
                    {{ product.product_manufacturer_en_name }}
                  </h4>
                  <del
                    *ngIf="product.product_specific_price?.specific_price"
                    class="product-list__lastprice font-number"
                    >{{ product.product_price | number }} تومان</del
                  >
                </a>
                <a
                  [routerLink]="[product.id]"
                  class="d-flex justify-content-between my-3"
                >
                  <h4 class="product-list__name">{{ product.product_name }}</h4>
                  <p class="product-list__price font-number">
                    {{
                      product.product_specific_price?.specific_price ||
                        product.product_price | number
                    }}
                    تومان
                  </p>
                </a>
                <div
                  class="product-list__product-size d-flex justify-conten-center align-items-center"
                >
                  <a > SM </a>
                  <a > M </a>
                  <a > L </a>
                  <a class="font-number" > 1 + </a>
                </div>
              </div>
            </ng-container>

            <ng-template #empty>
              <div>محصولی برای نمایش وجود ندارد.</div>
            </ng-template>
          </div>
        </div>
        <app-pagination
          [index]="currentPage"
          (page)="pageEvent($event)"
        ></app-pagination>
      </div>
    </div>
  </div>
</section>
