<section class="cart mt-5" style="margin-bottom: 60px">
  <div class="container">
    <div class="column">
      <ng-template [ngIf]="cart.length" [ngIfElse]="emptyCart">
        <div class="cart-product-header">
          <div class="item name">سبد خرید شما</div>
          <div class="item price">قیمت واحد</div>
          <div class="item quantity">تعداد</div>
          <div class="item price">قیمت نهایی</div>
        </div>

        <div class="cart-products">
          <div>
            <ng-container *ngFor="let product of cart">
              <div class="cart-product" data-product-id="597914">
                <div class="cart-product-img">
                  <div class="img-box">
                    <a
                      href="https://www.banimode.com/BM-91064/پیراهن-مردانه-هوگرو-hugero-کد-10266/10.html#/مشکی"
                      target="_blank"
                    >
                      <span class="overlay"></span>
                      <img
                        [src]="product.images.large_default[0]"
                        [alt]="product.product_manufacturer_fa_name"
                      />
                    </a>
                    <button
                      (click)="removeFromCart(product.id)"
                      class="delete"
                      type="button"
                    >
                      <i class="fa-solid fa-close"></i>
                    </button>
                  </div>
                </div>
                <div class="cart-product-content">
                  <div class="cart-product-details">
                    <p class="title">
                      <span>{{ product.product_manufacturer_fa_name }}</span>
                    </p>
                    <a
                      href="https://www.banimode.com/BM-91064/پیراهن-مردانه-هوگرو-hugero-کد-10266/10.html#/مشکی"
                      target="_blank"
                      ><p>{{ product.product_manufacturer_en_name }}</p></a
                    >
                    <div class="size-color">
                      <div class="item size">
                        <span>سایز:</span><span>L</span>
                      </div>
                      <div class="item color">
                        <span>رنگ:</span><span>مشکی</span>
                      </div>
                    </div>
                    <div class="product-code">
                      <span>کد محصول:</span
                      ><span>{{ product.reference | number }}</span>
                    </div>
                  </div>
                  <div class="cart-product-price have-discount">
                    <div class="original">
                      <span>{{ product.product_price | number }}</span
                      ><span class="toman"> تومان</span>
                    </div>
                    <div class="discount">
                      <div class="discount-value">
                        <span>{{
                          product.product_specific_price.discount_percent
                            | number
                        }}</span
                        ><span class="pr-2">تخفیف </span>
                      </div>
                      <div class="discount-price">
                        <span>{{
                          product.product_specific_price.specific_price | number
                        }}</span
                        ><span class="toman"> تومان</span>
                      </div>
                    </div>
                  </div>
                  <div class="cart-quantity-selector">
                    <div class="quantity-selector-box">
                      <button
                        class="add"
                        (click)="increaseProductQuantity(product)"
                      >
                        <!-- <img
                    src="/themes/new/assets/images/icon/add.svg"
                    alt="add"
                  /> -->
                        <i class="fa-solid fa-plus"></i>
                      </button>
                      <input
                        type="number"
                        [value]="getProductQuantity(product.id) | async"
                        readonly=""
                      />
                      <!-- <p>{{ getProductQuantity(product.id) | async }}</p> -->
                      <button
                        class="reduce"
                        (click)="decreaseProductQuantity(product)"
                      >
                        <!-- <img
                    src="/themes/new/assets/images/icon/minus.svg"
                    alt="reduce"
                  /> -->
                        <i class="fa-solid fa-minus"></i>
                      </button>
                    </div>
                  </div>
                  <div class="cart-product-price green">
                    <div class="original">
                      <span>{{ getProductTotalPrice(product.id) | async }}</span
                      ><span class="toman"> تومان</span>
                    </div>
                    <!-- <div class="cart-not-exist">ناموجود</div> -->
                  </div>
                </div>
              </div>
            </ng-container>

            <div class="cart-footer">
              <div class="coupons-box">
                <button
                  type="button"
                  class="confirm-cart-btn button d-flex justify-content-center align-items-center"
                >
                  ثبت و مرحله بعد
                </button>
              </div>
              <div class="cart-summary">
                <div class="titls">
                  <p>قیمت کل سفارش:</p>
                  <p>بسته‌بندی و ارسال:</p>

                  <p class="black">قیمت قابل پرداخت:</p>
                </div>
                <div class="values">
                  <p>
                    <span>{{ totalPrice$ | async }}</span
                    ><span> تومان</span>
                  </p>
                  <p><span>وابسته به نوع ارسال</span></p>

                  <p class="green">
                    <span>{{ totalPrice$ | async }}</span
                    ><span> تومان</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template #emptyCart>
        <div class="text-center">
          <div class="mb-4">
            <img src="/assets/img/cart/thank-unsucess.svg" />
          </div>
          <p class="title">سبد خرید شما خالی است</p>
        </div>
      </ng-template>
    </div>
  </div>
</section>
