<form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
  <!-- Email input -->
  <div class="form-outline mb-4">
    <input
      type="email"
      name="email"
      id="form2Example1"
      class="form-control"
      ngModel
    />
    <label class="form-label" for="form2Example1">Email address</label>
    <p>{{ userEmail }}</p>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input
      type="password"
      name="password"
      id="form2Example2"
      class="form-control"
      ngModel
    />
    <label class="form-label" for="form2Example2">Password</label>
  </div>

  <!-- Submit button -->
  <button type="submit" [disabled]="" class="btn btn-primary btn-block mb-4">
    Sign in
  </button>
</form>

<a class="nav-link" [routerLink]="['signup']">signup</a>
