
// $primary: map-get($light-palette, 500 );
$lightGreyBackground: #96a1ab;
$deleteColor: #9c8b8a;
$headerColor: #009286;
$title: #242424;
$black: #000;
$white: #fff;

$line1: #c1c7cd;

$successfully: #00a84d;
$default: rgb(134, 131, 131);
$accepted: #adb5bd;
$warning: #e5b60d;
$danger: #ef5d5d;
$reject: #e73f3f;
$green-color: #00bf6f;
$orange-color: #f16423;
