<section class="main-page-newsletter">
  <div class="container">
    <div class="row">
      <h4 class="text-center my-2">ثبت نام در خبرنامه بانی‌مد</h4>
      <p class="text-center my-2">
        اولین نفری باشید که از جدیدترین محصولات، جشنواره ها و فروش‌های ویژه ما
        مطلع می شوید
      </p>
    </div>

    <div class="main-page-newsletter__form">
      <input type="email" placeholder="آدرس ایمیل شما" />
      <button>
        <span>ارسال</span>
        <i class="fa-solid fa-angle-left"></i>
      </button>
    </div>
  </div>
</section>
