<section class="page-about-us text-center my-5">
  <div class="container my-5">
    <div class="col">
      <h1>درباره بانی مد</h1>
      <p>
        مرکز خرید آنلاین بانی‌مد فعالیت خود را درزمینۀ پوشاک به‌صورت تخصصی از
        سال 1393 آغاز نمود و طی این سال‌ها توانسته ضمن همکاری با بیش از 500 برند
        ایرانی و بین‌المللی، در مسیر بهبود تجربۀ خرید آنلاین پوشاک در ایران گام
        بردارد. مهم‌ترین رسالت بانی‌مد بهبود کیفیت سبک زندگی است که رضایت اکثریت
        مشتریان گرامی از این مرکز خرید آنلاین گواهی بر این ادعاست؛ رضایتی که
        پشتوانه‌ای استوار برای تحقق دیگر اهداف بلندمدت بانی‌مد است.
      </p>
      <p>
        حضور موفق بانی‌مد طی سال‌های اخیر در صنعت پوشاک، بر اساس بازاریابی مبتنی
        بر سلایق و فرهنگ پوشاک ایرانیان شکل‌ گرفته است. این موفقیت سبب شده تا
        برترین برندهای بازار ایران و جهان که ازنظر کیفیت و خدمات با استانداردهای
        بانی‌مد انطباق دارند، خواستار همکاری با بانی‌مد باشند و پس از شروع
        همکاری، همواره برترین کالاهای خود را با بهترین قیمت در این مرکز خرید
        عرضه کنند.
      </p>

      <figure class="text-center mt-3 mb-0">
        <img
          src="/assets/img/about-us/delivery-truck.png"
          width="64"
          height="64"
          title="delivery-truck"
          alt="delivery-truck.png"
        />
        <figcaption>
          <h4 class="my-3">شیوه ارسال</h4>
          <p>
            شیوه ارسال از طریق اکسپرس: کلیه سفارش‌ها با مبلغ خرید بالاتر از
            1.400.000 تومان به صورت رایگان در سفارش‌های با مبلغ خرید 1200.000 تا
            1.400.000 تومان هزینه 49000 تومان، در سفارش‌های با مبلغ خرید
            1.000.000 تا 1.200.000 تومان، با هزینه 55.000 تومان و در خریدهای
            کمتر از 1.000.000 تومان، 59.000 تومان به عنوان هزینه بسته‌بندی و
            ارسال دریافت خواهد شد.
          </p>
          <p>
            شیوه ارسال از طریق پست پیشتاز: کلیه سفارش‌ها با مبلغ خرید بالاتر از
            1.400.000 تومان به صورت رایگان، در سفارش‌های با مبلغ خرید 1200.000
            تا 1.400.000 تومان هزینه 39000 تومان، در سفارش‌های با مبلغ خرید
            1.000.000 تا 1.200.000 تومان، با هزینه 45.000 تومان و در خریدهای
            کمتر از 1.000.000 تومان، 49.000 تومان به عنوان هزینه بسته‌بندی و
            ارسال دریافت خواهد شد.
          </p>
          <p>
            شیوه ارسال از طریق تیپاکس: کلیه سفارش‌ها با مبلغ خرید بالاتر از
            1.400.000 تومان به صورت رایگان، در سفارش‌های با مبلغ خرید 1.200.000
            تا 1.400.000 تومان هزینه 59000 تومان، در سفارش‌های با مبلغ خرید
            1.000.000 تا 1.200.000 تومان، با هزینه 65.000 تومان و در خریدهای
            کمتر از 1.000.000 تومان، 69.000 تومان به عنوان هزینه بسته‌بندی و
            ارسال دریافت خواهد شد.
          </p>
          <p>
            شیوه ارسال از طریق بانی جت: کلیه سفارش‌ها با هزینه 89.000 تومان
            بسته‌بندی و ارسال خواهد شد.
          </p>
          <p>
            شیوه تحویل حضوری: در صورت انتخاب تحویل به صورت حضوری هزینه بسته‌بندی
            و ارسال به مبلغ 19.000 تومان دریافت خواهد شد
          </p>
        </figcaption>
      </figure>

      <figure class="text-center mt-3 mb-0">
        <img
          src="/assets/img/about-us/return-box.png"
          width="64"
          height="64"
          title="return-box"
          alt="return-box"
        />
        <figcaption>
          <h4 class="my-3">ضمانت برگشت کالا</h4>
          <p>
            شما می‌توانید با توجه به شرایط بازگشت کالا تا 7 روز محصول
            خریداری‌شده را تعویض یا به بانی‌مد بازگردانید.
          </p>
        </figcaption>
      </figure>

      <figure class="text-center mt-3 mb-0">
        <img
          src="/assets/img/about-us/headphones.png"
          width="64"
          height="64"
          title="headphones"
          alt="headphones"
        />
        <figcaption>
          <h4 class="my-3">پشتیبانی آنلاین و تلفنی</h4>
          <p>
            کارشناسان پشتیبانی در واحد ارتباط با مشتریان، برای پاسخ به سؤالات و
            حل مشکلات، به‌صورت آنلاین به‌ویژه در باکس چت صفحات بانی‌مد و از طریق
            شماره 49215-021 در خدمت شما هستند.
          </p>
        </figcaption>
      </figure>

      <figure class="text-center mt-3 mb-0">
        <img
          src="/assets/img/about-us/shopping-bag.png"
          width="64"
          height="64"
          title="dshopping-bag"
          alt="dshopping-bag"
        />
        <figcaption>
          <h4 class="my-3">بهبود تجربۀ کاربری و خرید آسان</h4>
          <p>
            کارشناسان و طراحان بانی‌مد سعی کرده‌اند که کاربران نهایت لذت را از
            خرید خود ببرند. شما به‌راحتی می‌توانید در محصولات جستجو کنید و
            گروه‌های موردنظر خود را انتخاب یا محصولات را بر اساس ویژگی‌های مختلف
            فیلتر کنید.
          </p>
        </figcaption>
      </figure>
    </div>
  </div>
</section>
