<footer>
  <div class="container">
    <div class="row">
      <div class="col-2">
        <ul class="footer-category">
          <li class="footer-title">خرید</li>
          <li>
            <a class="footer-link mb-3">خرید لباس</a>
          </li>
          <li>
            <a class="footer-link mb-3">لباس مردانه</a>
          </li>
          <li>
            <a class="footer-link mb-3">لباس زنانه</a>
          </li>
          <li>
            <a class="footer-link mb-3">لباس بچگانه</a>
          </li>
          <li>
            <a class="footer-link mb-3">خرید لوازم آرایشی</a>
          </li>
        </ul>
      </div>
      <div class="col-2">
        <ul class="footer-category">
          <li class="footer-title">خدمات مشتریان</li>
          <li>
            <a class="footer-link mb-3">پرسش های متداول</a>
          </li>
          <li>
            <a class="footer-link mb-3">شرایط بازگشت</a>
          </li>
          <li>
            <a class="footer-link mb-3">راهنمای خرید</a>
          </li>
          <li>
            <a class="footer-link mb-3">فروش B2B</a>
          </li>
          <li>
            <a class="footer-link mb-3">سنجش رضایتمندی</a>
          </li>
        </ul>
      </div>
      <div class="col-2">
        <ul class="footer-category">
          <li class="footer-title">اطلاعات بانی مد</li>
          <li>
            <a routerLink="about-us" class="footer-link mb-3 text-primary"
              >درباره ما</a
            >
          </li>
          <li>
            <a routerLink="legal-notice" class="footer-link mb-3 text-primary"
              >قوانین و مقررات</a
            >
          </li>
          <li>
            <a class="footer-link mb-3">تماس با ما</a>
          </li>
          <li>
            <a class="footer-link mb-3">فرصت های شغلی</a>
          </li>
          <li>
            <a class="footer-link mb-3">همکاری تجاری</a>
          </li>
        </ul>
      </div>
      <div class="col-3">
        <div class="footer-contact">
          <p>میزبان صدای گرمتان هستیم</p>
          <p class="pb-3 font-number">7 روز هفته - 24 ساعته</p>
          <div class="footer-contact-info">
            تلفن:<a href="tel:+982149215" class="font-number">02149215</a>
          </div>
          <div class="footer-contact-info">
            پیامک:<a href="sms:+9810001654" class="font-number">10001654</a>
          </div>
          <div class="footer-contact-info float-none">
            ایمیل:<a href="mailto:customer@banimode.com"
              >customer@banimode.com</a
            >
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="footer-social text-center">
          <a>
            <img src="/assets/img/footer/footer-logo.png" alt="بانی&zwnj;مد" />
          </a>
          <a class="footer-app-download">
            <img
              src="/assets/img/footer/app-download.svg"
              alt="دانلود اپلیکیشن"
            />
            <span> دانلود اپلیکیشن</span>
          </a>
          <ul class="footer-social-icon d-flex justify-content-center">
            <li>
              <a href="https://www.instagram.com/banimodecom">
                <img
                  src="/assets/img/footer/footer-insta.svg"
                  alt="اینستاگرام"
                />
              </a>
            </li>
            <li>
              <a>
                <img
                  src="/assets/img/footer/footer-telegram.svg"
                  alt="تلگرام"
                />
              </a>
            </li>
            <li>
              <a href="https://www.aparat.com/banimode">
                <img src="/assets/img/footer/footer-aparat.svg" alt="آپارات" />
              </a>
            </li>
            <li>
              <a href="https://www.twitter.com/Banimodeir">
                <img src="/assets/img/footer/footer-twitter.svg" alt="تويیتر" />
              </a>
            </li>
          </ul>
          <a class="text-center">
            <img src="/assets/img/footer/banimag.png" alt="بانی مگ" />
          </a>
        </div>
      </div>
    </div>
    <div class="row footer-copyright">
      <div class="col-6">
        <p class="text-right">© کلیه حقوق این وب سایت متعلق به بانی مد است.</p>
      </div>
      <div class="col-6">
        <p class="text-left" dir="ltr">© Copyright 2023 Banimode.com</p>
      </div>
    </div>
  </div>
</footer>
