<section class="main-page-blog">
  <div class="container">
    <div class="row justify-content-center mb-4">
      <div class="col-md-6 main-page-best-brands__title text-center">
        <h4>جدیدترینِ بانی مگ</h4>
      </div>
    </div>
    <div class="row main-page-blog__slider">
      <!-- Swiper -->
      <swiper
        class="position-relative overflow-hidden"
        [slidesPerView]="4"
        [spaceBetween]="50"
        [loop]="true"
        [autoHeight]="true"
        [allowTouchMove]="true"
      >
        <ng-template swiperSlide>
          <div class="swiper-slide">
            <a   class="main-page-blog-slider__link">
              <figure class="mb-0">
                <img
                  src="/assets/img/blog/1.jpg"
                  alt="brand"
                  width="330"
                  height="220"
                  title="brand"
                  class="object-fit-cover"
                />
                <figcaption>خرید سازمانی از بانی مد</figcaption>
              </figure>
            </a>
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="swiper-slide">
            <a   class="main-page-blog-slider__link">
              <figure class="mb-0">
                <img
                  src="/assets/img/blog/2.jpg"
                  alt="brand"
                  width="330"
                  height="220"
                  title="brand"
                  class="object-fit-cover"
                />
                <figcaption>خرید سازمانی از بانی مد</figcaption>
              </figure>
            </a>
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="swiper-slide">
            <a   class="main-page-blog-slider__link">
              <figure class="mb-0">
                <img
                  src="/assets/img/blog/3.jpg"
                  alt="brand"
                  width="330"
                  height="220"
                  title="brand"
                  class="object-fit-cover"
                />
                <figcaption>خرید سازمانی از بانی مد</figcaption>
              </figure>
            </a>
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="swiper-slide">
            <a   class="main-page-blog-slider__link">
              <figure class="mb-0">
                <img
                  src="/assets/img/blog/4.jpg"
                  alt="brand"
                  width="330"
                  height="220"
                  title="brand"
                  class="object-fit-cover"
                />
                <figcaption>خرید سازمانی از بانی مد</figcaption>
              </figure>
            </a>
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="swiper-slide">
            <a   class="main-page-blog-slider__link">
              <figure class="mb-0">
                <img
                  src="/assets/img/blog/5.jpg"
                  alt="brand"
                  width="330"
                  height="220"
                  title="brand"
                  class="object-fit-cover"
                />
                <figcaption>خرید سازمانی از بانی مد</figcaption>
              </figure>
            </a>
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="swiper-slide">
            <a   class="main-page-blog-slider__link">
              <figure class="mb-0">
                <img
                  src="/assets/img/blog/6.jpg"
                  alt="brand"
                  width="330"
                  height="220"
                  title="brand"
                  class="object-fit-cover"
                />
                <figcaption>خرید سازمانی از بانی مد</figcaption>
              </figure>
            </a>
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="swiper-slide">
            <a   class="main-page-blog-slider__link">
              <figure class="mb-0">
                <img
                  src="/assets/img/blog/4.jpg"
                  alt="brand"
                  width="330"
                  height="220"
                  title="brand"
                  class="object-fit-cover"
                />
                <figcaption>خرید سازمانی از بانی مد</figcaption>
              </figure>
            </a>
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="swiper-slide">
            <a   class="main-page-blog-slider__link">
              <figure class="mb-0">
                <img
                  src="/assets/img/blog/1.jpg"
                  alt="brand"
                  width="330"
                  height="220"
                  title="brand"
                  class="object-fit-cover"
                />
                <figcaption>خرید سازمانی از بانی مد</figcaption>
              </figure>
            </a>
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="swiper-slide">
            <a   class="main-page-blog-slider__link">
              <figure class="mb-0">
                <img
                  src="/assets/img/blog/3.jpg"
                  alt="brand"
                  width="330"
                  height="220"
                  title="brand"
                  class="object-fit-cover"
                />
                <figcaption>خرید سازمانی از بانی مد</figcaption>
              </figure>
            </a>
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="swiper-slide">
            <a   class="main-page-blog-slider__link">
              <figure class="mb-0">
                <img
                  src="/assets/img/blog/2.jpg"
                  alt="brand"
                  width="330"
                  height="220"
                  title="brand"
                  class="object-fit-cover"
                />
                <figcaption>خرید سازمانی از بانی مد</figcaption>
              </figure>
            </a>
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="swiper-slide">
            <a   class="main-page-blog-slider__link">
              <figure class="mb-0">
                <img
                  src="/assets/img/blog/4.jpg"
                  alt="brand"
                  width="330"
                  height="220"
                  title="brand"
                  class="object-fit-cover"
                />
                <figcaption>خرید سازمانی از بانی مد</figcaption>
              </figure>
            </a>
          </div>
        </ng-template>
      </swiper>
    </div>

    <div class="row justify-content-center my-5">
      <a   class="button btn-more"> مشاهده همه </a>
    </div>
  </div>
</section>
