<section class="main-page-bestsilling my-5">
  <div class="container">
    <div class="row justify-content-center mb-4">
      <div class="col-md-6 main-page-bestsilling__title text-center">
        <h4>پرفروش ترین محصولات</h4>
      </div>
    </div>
    <div class="row main-page-bestsilling__slider">
      <!-- Swiper -->
      <swiper
        class="swiper-bestsilling position-relative overflow-hidden"
        [slidesPerView]="4"
        [spaceBetween]="50"
        [loop]="true"
        [autoHeight]="true"
        [allowTouchMove]="true"
      >
        <ng-template swiperSlide *ngFor="let product of productList$ | async">
          <div class="swiper-slide">
            <a class="main-page-bestsilling-slider__image">
              <figure class="mb-0">
                <img
                  [src]="product.pictures[0]"
                  alt="amazin product"
                  width="275"
                  height="330"
                  title="amazin product"
                  class="object-fit-cover"
                />
                <img
                  [src]="product.pictures[1]"
                  alt="amazin product"
                  width="275"
                  height="330"
                  title="amazin product"
                  class="object-fit-cover main-page-bestsilling-slider__image-hover-show"
                />
                <figcaption class="semicircular-badge font-number">
                  {{ product.discount_percent + "%" }}
                </figcaption>
              </figure>
              <div class="main-page-bestsilling-slider__quantity-green">
                <span class="font-number"
                  >{{ product.promotion_label + "%" }} ویژه کالای دوم</span
                >
              </div>
            </a>
            <a class="d-flex justify-content-between mt-3">
              <h4 class="main-page-bestsilling-slider__brands">
                {{ product.product_manufacturer_en_name }}
              </h4>
              <del class="main-page-bestsilling-slider__lastprice font-number">
                {{ product.product_price | number }} تومان
              </del>
            </a>
            <a class="d-flex justify-content-between my-3">
              <h4 class="main-page-bestsilling-slider__name">
                {{ product.product_name }}
              </h4>
              <p class="main-page-bestsilling-slider__price font-number">
                {{ product.specific_price | number }}
                تومان
              </p>
            </a>
            <div
              class="main-page-bestsilling-slider__product-size d-flex justify-conten-center align-items-center"
            >
              <a> SM </a>
              <a> M </a>
              <a> L </a>
              <a class="font-number"> 1 + </a>
            </div>
          </div>
        </ng-template>
      </swiper>
    </div>

    <div class="row justify-content-center my-5">
      <a class="button btn-more"> مشاهده همه </a>
    </div>
  </div>
</section>
