<section class="main-page-features my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-12">
        <a >
          <figure class="d-flex flex-column align-items-center">
            <img
              src="/assets/img/features/support.png"
              loading="lazy"
              alt="support"
              title="support"
              width="100"
              height="auto"
              class="object-fit-cover z-3"
            />
            <figcaption class="z-3">خدمات پس از خرید</figcaption>
          </figure>
          <p class="text-center position-relative z-3 main-page-features__info">
            میزبان صدای گرمتان هستیم. هدف تیم پشتیبانی بانی مد تلاش با تمام قوا
            برای ارائه بهترین خدمات به مشتریان عزیز می باشد.
          </p>
        </a>
      </div>

      <div class="col-md-3 col-12">
        <a >
          <figure class="d-flex flex-column align-items-center">
            <img
              src="/assets/img/features/callender.png"
              loading="lazy"
              alt="callender"
              title="callender"
              width="100"
              height="auto"
              class="object-fit-cover z-3"
            />
            <figcaption class="z-3">ضمانت بازگشت کالا</figcaption>
          </figure>
          <p class="text-center position-relative z-3 main-page-features__info">
            تا ۷ روز برای احترام به انتخاب مشتریان کالای خریداری شده برگردانده
            می‌شود.
          </p>
        </a>
      </div>

      <div class="col-md-3 col-12">
        <a >
          <figure class="d-flex flex-column align-items-center">
            <img
              src="/assets/img/features/tshirt.png"
              loading="lazy"
              alt="orginaly"
              title="orginaly"
              width="100"
              height="auto"
              class="object-fit-cover z-3"
            />
            <figcaption class="z-3">ضمانت اصالت</figcaption>
          </figure>
          <p class="text-center position-relative z-3 main-page-features__info">
            تمامی کالاها اورجینال و با ضمانت اصل بودن از نمایندگی معتبر تهیه و
            ارائه می‌شوند.
          </p>
        </a>
      </div>

      <div class="col-md-3 col-12">
        <a >
          <figure class="d-flex flex-column align-items-center">
            <img
              src="/assets/img/features/ballon.png"
              loading="lazy"
              alt="delivery-speed"
              title="delivery-speed"
              width="100"
              height="auto"
              class="object-fit-cover z-3"
            />
            <figcaption class="z-3">ارسال سریع و رایگان</figcaption>
          </figure>
          <p class="text-center position-relative z-3 main-page-features__info">
            ارسال رایگان برای خریدهای بالای 1 میلیون و 400 هزار تومان و در زمان
            انتخابی مشتری به سریعترین شکل ممکن می‌باشد.
          </p>
        </a>
      </div>
    </div>
  </div>
</section>
