<section class="page-legalNotice my-5">
  <div class="container my-5">
    <div class="row">
      <figure>
        <img
          src="/assets/img/page-legalnotice/iconterm.png"
          alt=""
          title=""
          width="157"
          height="198"
          class=""
        />
      </figure>
    </div>
    <div class="row">
      <h1>قوانین و مقررات</h1>
      <p>
        قوانین مرکز خرید آنلاین به‌منظور حفظ حقوق خریدار و فروشنده وضع شده و
        رعایت و توجه به آن برای مرکز خرید آنلاین بانی‌مد و خریدار محترم الزامی
        است. عضویت در سایت یا خرید از آن به‌منزلۀ مطالعه و پذیرفتن شرایط خرید و
        عضویت و قوانین و مقررات مربوطه است. لازم است خریداران گرامی پیش از ثبت
        هر سفارش، کلیه قوانین جدید در این بخش را بدانند.
      </p>
      <p>ماده 1 - عضویت در سایت :</p>
      <p>
        برای خرید ثبت سفارش و خرید، خریدار ابتدا باید در سایت با‌نی‌مد ثبت‌نام
        کند. اطلاعات خریدار باید به‌صورت کامل، دقیق و صحیح وارد شود.
      </p>
      <p>
        تبصره 1 ) کاربر باید اطلاعات پستی درخواستی را به‌ شکل صحیح در فرم
        ثبت‌نام اعلام کند. مسئولیت هرگونه مغایرت مشخصات ثبت‌شده با هویت واقعی
        عضو بر عهده خود افراد است و مرکز خرید آنلاین هیچ‌گونه مسئولیتی نسبت به
        مغایرت‌های احتمالی ندارد. صحت این اطلاعات به این دلیل دارای اهمیت است که
        سفارش‌های کاربر به آدرسی که وی در فرم ثبت‌نام اعلام کرده ارسال خواهد شد.
      </p>

      <p>
        تبصره 2 ) کاربر نباید در سایت اظهاراتی را قرار دهد یا به اقدامی دست بزند
        که مبین نقض حقوق اشخاص دیگر باشد یا عمل مجرمانه‌ای را در پی داشته باشد.
        همچنین بحث و نظرهای غیر مرتبط با سایت هیچ‌کدام منتشر نخواهد شد. چنانچه
        هر یک از کاربران، این ماده را رعایت نکنند، از همکاری با مرکز خرید آنلاین
        محروم و تسویه‌حساب کامل در صورت بدهی طرفین به یکدیگر به‌سرعت انجام خواهد
        شد.
      </p>
      <p>
        <strong> ماده 2 - ثبت سفارش : </strong>
      </p>
      <p>
        تبصره 1 ) دقت در خرید کالا و توجه به مشخصات کالای مورد سفارش بر عهده
        خریدار است. پس پیش از تائید سفارش، موارد ذکرشده را به‌دقت بررسی کنید.
        همچنین پیش از تحویل گرفتن سفارش از صحت بسته ارسالی مطمئن شوید و در صورت
        بروز مشکل با شماره‌های پشتیبانی سایت تماس بگیرید.
        <br />
        تبصره 2 ) قیمت‌ محصولات موجود در وب‌سایت به‌روز است. همچنین قیمتی که
        هنگام سفارش مشتری در پیش ‌­فاکتور منظور شده معتبر خواهد بود.
        <br />

        تبصره 3 ) پس از هر ثبت سفارش در سیستم، ایمیل و پیامک تائید ثبت سفارش به
        همراه شماره فاکتور برای مشتریان ارسال می‌شود.
        <br />

        تبصره 4 ) پس از ثبت سفارش، در صورت لزوم طی تماس تلفنی با مشتری، صحت و
        تائید سفارش از وی گرفته خواهد شد؛ بنابراین خواهشمند است اطلاعات شماره
        تماس خود را به‌طور صحیح در فرم‌های مربوطه وارد کنید و از ثبت سفارش‌های
        غیرواقعی بپرهیزید.
        <br />

        تبصره 5 ) ثبت سفارش و خریدهای عمده باید طبق هماهنگی قبلی با مرکز خرید
        آنلاین انجام شود و در صورت ثبت سفارش بدون هماهنگی، تصمیم در مورد پردازش
        یا لغو آن‌ها بر عهده مرکز خرید آنلاین بانی‌مد است. همچنین با توجه به
        شرایط جشنواره‌ها محدودیت تعداد در انتخاب کالاها متفاوت است. در صورت
        تکرار خرید کالاهای یکسان یا مشابه در سفارش‌های متعدد، بانی مد می‌تواند
        سفارش را لغو نماید. ماده 3 – پرداخت هزینه :
        <br />

        <br />
        دریافت مبلغ سفارش‌های ثبت‌شده از طریق پرداخت آنلاین (فقط برای مشتریان
        تهران) صورت می‌پذیرد
        <br />
        <br />

        تبصره 1 ) در حال حاضر هیچ‌گونه مالیاتی به‌عنوان مالیات بر ارزش‌افزوده
        محاسبه نمی‌شود و خریدار تنها بهای کالای خریداری‌شده را بدون مالیات
        پرداخت می‌کند.
        <br />
        <br />

        تبصره 2 ) توجه فرمایید که قیمت‌های درج‌شده بر روی کالاهای وب‌سایت به
        تومان است.
        <br />
        <br />

        تبصره 3) در صورت خرید اقساطی کیف پول شارژ می‌شود.
        <br />
        <br />

        ماده 4 –بسته‌بندی و ارسال سفارش :
        <br />

        سفارش‌های ثبت شده در سایت مرکز خرید آنلاین بانی مد پس از دریافت تاییدیه
        از مشتری، جهت ارسال و تحویل به اداره پست آماده خواهد شد.
        <br />

        تبصره 1 ) شیوه ارسال از طریق اکسپرس: کلیه سفارش‌ها با مبلغ خرید بالاتر
        از 1.400.000 تومان به صورت رایگان در سفارش‌های با مبلغ خرید 1200.000 تا
        1.400.000 تومان هزینه 49000 تومان، در سفارش‌های با مبلغ خرید 1.000.000
        تا 1.200.000 تومان، با هزینه 55.000 تومان و در خریدهای کمتر از 1.000.000
        تومان، 59.000 تومان به عنوان هزینه بسته‌بندی و ارسال دریافت خواهد شد.
        <br />
        <br />

        شیوه ارسال از طریق پست پیشتاز: کلیه سفارش‌ها با مبلغ خرید بالاتر از
        1.400.000 تومان به صورت رایگان، در سفارش‌های با مبلغ خرید 1200.000 تا
        1.400.000 تومان هزینه 39000 تومان، در سفارش‌های با مبلغ خرید 1.000.000
        تا 1.200.000 تومان، با هزینه 45.000 تومان و در خریدهای کمتر از 1.000.000
        تومان، 49.000 تومان به عنوان هزینه بسته‌بندی و ارسال دریافت خواهد شد.
        <br />

        شیوه ارسال از طریق تیپاکس: کلیه سفارش‌ها با مبلغ خرید بالاتر از
        1.400.000 تومان به صورت رایگان، در سفارش‌های با مبلغ خرید 1.200.000 تا
        1.400.000 تومان هزینه 59000 تومان، در سفارش‌های با مبلغ خرید 1.000.000
        تا 1.200.000 تومان، با هزینه 65.000 تومان و در خریدهای کمتر از 1.000.000
        تومان، 69.000 تومان به عنوان هزینه بسته‌بندی و ارسال دریافت خواهد شد.
        <br />

        شیوه ارسال از طریق بانی جت: کلیه سفارش‌ها با هزینه 89.000 تومان
        بسته‌بندی و ارسال خواهد شد.
        <br />

        شیوه تحویل حضوری: در صورت انتخاب تحویل به صورت حضوری هزینه بسته‌بندی و
        ارسال به مبلغ 19.000 تومان دریافت خواهد شد.
        <br />
      </p>
    </div>
  </div>
</section>
