.main-page {
  &-category {
    &__item {
      &-link {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.1);
          opacity: 0;
          border-radius: 8px;
        }

        &:hover {
          &::after {
            opacity: 1;
          }

          figure img {
            transform: scale(1.04);
          }
        }

        figure {
          img {
            transition: all 0.72s ease;
          }
        }
      }
    }
  }
}
