<section class="main-page-category my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-12 main-page-category__item">
        <a   class="main-page-category__item-link">
          <figure>
            <img
              src="/assets/img/category/1.jpg"
              alt="category image"
              width="173"
              height="173"
              title="category image"
              class="w-100 h-100 object-fit-cover"
            />
          </figure>
        </a>
      </div>
      <div class="col-md-2 col-12 main-page-category__item">
        <a   class="main-page-category__item-link">
          <figure>
            <img
              src="/assets/img/category/2.jpg"
              alt="category image"
              width="173"
              height="173"
              title="category image"
              class="w-100 h-100 object-fit-cover"
            />
          </figure>
        </a>
      </div>
      <div class="col-md-2 col-12 main-page-category__item">
        <a   class="main-page-category__item-link">
          <figure>
            <img
              src="/assets/img/category/3.jpg"
              alt="category image"
              width="173"
              height="173"
              title="category image"
              class="w-100 h-100 object-fit-cover"
            />
          </figure>
        </a>
      </div>
      <div class="col-md-2 col-12 main-page-category__item">
        <a   class="main-page-category__item-link">
          <figure>
            <img
              src="/assets/img/category/4.jpg"
              alt="category image"
              width="173"
              height="173"
              title="category image"
              class="w-100 h-100 object-fit-cover"
            />
          </figure>
        </a>
      </div>
      <div class="col-md-2 col-12 main-page-category__item">
        <a   class="main-page-category__item-link">
          <figure>
            <img
              src="/assets/img/category/5.jpg"
              alt="category image"
              width="173"
              height="173"
              title="category image"
              class="w-100 h-100 object-fit-cover"
            />
          </figure>
        </a>
      </div>
      <div class="col-md-2 col-12 main-page-category__item">
        <a   class="main-page-category__item-link">
          <figure>
            <img
              src="/assets/img/category/6.jpg"
              alt="category image"
              width="173"
              height="173"
              title="category image"
              class="w-100 h-100 object-fit-cover"
            />
          </figure>
        </a>
      </div>
    </div>
  </div>
</section>
