@import "/src/styles/main.scss";
@import "./abstracts/mixins";

.swiper-button {
  &-next,
  &-prev {
    width: 35px;
    height: 35px;
    color: #000;
    background-color: white;
    font-weight: 700;
    border-radius: 50em;
    border: 1px solid #888;
    bottom: 30px;
    opacity: 0;
    z-index: 11111111;
    transition: all 0.3s linear;
    &:after {
      font-size: 12px;
    }
  }
  &-next {
    top: unset;
    right: 60px;
  }
  &-prev {
    top: unset;
    right: 10px;
  }
}
.swiper-left-top:hover {
  .swiper-button-next,
  .swiper-button-prev {
    opacity: 1;
  }
}

.swiper-pagination {
  bottom: 35px;

  &-bullet {
    opacity: 0.5;
    width: 8px;
    height: 8px;

    &-active {
      background-color: #fff;
      width: 16px;
      height: 6px;
      border-radius: 20px;
    }
  }
}

.swiper-pagination {
  bottom: 35px;

  &-bullet {
    opacity: 0.5;
    width: 8px;
    height: 8px;

    &-active {
      background-color: #fff;
      width: 16px;
      height: 6px;
      border-radius: 20px;
    }
  }
}

.main-page {
  &-slider {
    figure,
    figure img {
      border-radius: 16px;
    }

    &_top-left,
    &_top-right,
    &_down-right,
    &_down-left {
      figure {
        height: 400px;
        border-radius: 16px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .swiper-left-top {
        @include slider();
      }
    }

    &_down-left {
      .swiper-right-down {
        @include slider();
      }
    }
  }

  &-category {
    &__item {
      &-link {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.1);
          opacity: 0;
          border-radius: 8px;
        }

        &:hover {
          &::after {
            opacity: 1;
          }

          figure img {
            transform: scale(1.04);
          }
        }

        figure {
          img {
            transition: all 0.72s ease;
          }
        }
      }
    }
  }

  &-amazing,
  &-bestsilling {
    .swiper-slide {
      &:hover {
        .main-page-amazing-slider__image-hover-show {
          opacity: 1;
        }
      }
    }

    &__title {
      a {
        figure {
          width: 306px;
          height: 55px;
        }
      }
    }

    &__countdown {
      display: flex;
      align-items: center;
      justify-content: end;

      #countdown {
        display: flex;
        justify-content: center;
      }

      #countdown div {
        font-size: 1.4rem;
        padding: 0.5rem;
        margin: 0.5rem;
        background-color: #f16423;
        color: #fff;
        border-radius: 5px;
        width: 50px;
        font-weight: 700;
        text-align: center;
      }

      &-title {
        span {
          color: $green-color;
          font-size: 20px;
          font-weight: 600;
        }
      }
    }

    &__slider {
      .swiper-amazing,
      .swiper-bestsilling {
        .swiper-slide {
          display: block;
        }

        .swiper-button-next,
        .swiper-button-prev {
          color: #707070;

          &:after {
            font-size: 23px;
          }
        }
      }
    }

    &-slider {
      &__image {
        position: relative;
        display: block;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(111, 115, 119, 0.07);
          border-radius: 8px;
        }

        figure {
          position: relative;

          .cyrcle-badge {
            position: absolute;
            top: 20px;
            left: 20px;
            height: 50px;
            width: 50px;
            line-height: 3;
            font-size: 17px;
            font-weight: 700;
            color: #fff;
            background-color: $orange-color;
            border-radius: 50em;
            text-align: center;
          }

          .semicircular-badge {
            @extend .cyrcle-badge;
            left: 0;
            height: 30px;
            line-height: 2;
            border-radius: 0 25px 25px 0;
          }
        }

        &-hover-show {
          opacity: 0;
          position: absolute;
          top: 0;
          right: 0;
          border-radius: 8px;
          transition: all 0.3s linear;
        }
      }

      &__brands {
        font-size: 20px;
        font-weight: 600;
        text-align: right;
        color: #000;
        white-space: nowrap;
        overflow: hidden;
        max-width: 70%;
      }

      &__lastprice {
        font-size: 14px;
        font-weight: 500;
        color: #8c8c8c;
        text-decoration: line-through;
        text-align: left;
      }

      &__name {
        font-size: 16px;
        text-align: right;
        color: #666;
        width: 60%;
        white-space: nowrap;
        display: inline-block;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
      }

      &__price {
        font-size: 14px;
        font-weight: 700;
        color: $green-color;
      }

      &__quantity {
        background-color: $orange-color;
        color: white;
        border-radius: 4px;
        position: absolute;
        bottom: 15px;
        font-size: 15px;
        right: 18%;
        width: 60%;
        padding: 7px 0;

        &-green {
          @extend .main-page-bestsilling-slider__quantity;

          font-size: 14px;
          right: 27%;
          background-color: $green-color;
          padding: 7px;
          width: fit-content;
        }
      }

      &__product-size {
        a {
          width: 35px;
          height: 25px;
          border: 1px solid #ccc;
          border-radius: 3px;
          line-height: 1.7;
          color: #8c8c8c;
          font-size: 15px;
          font-weight: 700;
          margin: 0 4px;

          &:last-child {
            color: $orange-color;
          }
        }
      }
    }

    .btn-more {
      @include button(
        $color: $green-color,
        $border-color: #ccc,
        $background-color: white
      );

      width: 20%;
      padding: 13px;

      &:hover {
        border-color: $green-color;
        border-width: 1px;
      }
    }
  }

  &-features {
    a {
      background-image: url("/assets/img/features/featurebg.png");
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: 85%;
      text-align: center;
      position: relative;
      padding-bottom: 40px;
      display: block;

      &::after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: #fff;
        opacity: 0.95;
        transition: 0.3s all;
        position: absolute;
        top: 0;
        display: block;
        z-index: 1;
      }

      &:hover {
        &::after {
          opacity: 0.84;
        }
      }

      figure {
        figcaption {
          font-size: 20px;
          margin-top: 15px;
          font-weight: 700;
          color: #666;
        }
      }
    }

    &__info {
      color: #666;
      font-size: 15px;
      padding: 0px 7px;
    }
  }

  &-best-brands {
    background-color: #f9f9f9;
    padding: 50px 0;

    &__slider {
      .swiper-best-brands {
        .swiper-slide {
          display: block;
          background: transparent;
        }

        .swiper-button-next,
        .swiper-button-prev {
          color: #707070;

          &:after {
            font-size: 23px;
          }
        }

        .swiper-button-next {
          left: -6px;
        }

        .swiper-button-prev {
          right: -6px;
        }
      }
    }

    &__title {
      h4 {
        font-size: 28px;
        margin-bottom: 50px;
        font-weight: 500;
        text-align: center;
      }
    }

    &-slider {
      &__link {
        figure {
          img {
            background-color: #fff;
            border-radius: 10px;
          }
        }
      }
    }

    .btn-more {
      @include button(
        $color: $green-color,
        $border-color: #ccc,
        $background-color: transparent
      );
      font-size: 19px;
      font-weight: 500;
      width: 20%;
      padding: 13px;

      &:hover {
        border-color: $green-color;
        border-width: 1px;
      }
    }
  }

  &-blog {
    h4 {
      margin-bottom: 0;
    }

    &__slider {
      .swiper-blog {
        .swiper-slide {
          display: block;
          background: transparent;
        }

        .swiper-button-next,
        .swiper-button-prev {
          color: #707070;

          &:after {
            font-size: 23px;
          }
        }

        .swiper-button-next {
          left: -6px;
        }

        .swiper-button-prev {
          right: -6px;
        }
      }
    }

    .main-page-blog-slider__link {
      figure {
        img {
          background-color: #fff;
          border-radius: 0px;
        }

        figcaption {
          text-decoration: none;
          display: block;
          color: #000;
          font-size: 13px;
          text-align: right;
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
          -webkit-transition: 0.2s all;
          -o-transition: 0.2s all;
          transition: 0.2s all;
          margin-top: 30px;
        }
      }

      &:hover {
        figcaption {
          color: $green-color;
        }
      }
    }

    .btn-more {
      @include button(
        $color: $green-color,
        $border-color: #ccc,
        $background-color: transparent
      );
      font-size: 19px;
      font-weight: 500;
      width: 20%;
      padding: 13px;

      &:hover {
        border-color: $green-color;
        border-width: 1px;
      }
    }
  }
  &-newsletter {
    > div.container {
      background-color: #f9f9f9;
      padding: 50px 0;
      background-color: #f8f8f8;
      background-image: url("/assets/img/newsletter.svg");
      background-repeat: no-repeat;
      background-position: left top;
      padding-top: 75px;
      direction: rtl;
      margin-bottom: 75px;
      height: 270px;
    }
    &__form {
      position: relative;
      top: 38px;
      margin: 15px auto 0;
      width: 650px;
      height: 75px;
      background-color: #fff;
      border-radius: 38px;
      padding: 0 20px;
      padding-top: 12px;
      input {
        font-size: 14px;
        font-weight: 500;
        background-color: rgba(238, 238, 238, 0.9333333333);
        border: none;
        color: #b3b3b3;
        line-height: 52px;
        width: 450px;
        box-shadow: none;
        border-radius: 40px;
        text-align: right;
        padding-right: 10px;
      }
      button {
        width: 140px;
        line-height: 52px;
        background-color: #00bf6f;
        color: #fff;
        border: none;
        border-radius: 30px;
        box-shadow: none;
        text-align: left;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        float: left;
        padding: 0 20px;
        justify-content: space-between;
        align-items: center;
        transition: 0.2s all;
      }
    }
  }
}
