<section class="main-page-slider my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-12 main-page-slider_top-right">
        <a >
          <figure class="">
            <img
              src="/assets/img/slider/top.jpg"
              alt="slider1"
              width="783"
              height="380"
              title="slider1"
              class="object-fit-cover"
            />
          </figure>
        </a>
      </div>
      <div class="col-md-4 col-12 main-page-slider_top-left swiper-left-top">
        <!-- Swiper -->
        <swiper
          [slidesPerView]="1"
          [spaceBetween]="50"
          [navigation]="true"
          [loop]="true"
          [autoHeight]="true"
          [allowTouchMove]="true"
        >
          <ng-template swiperSlide>
            <div class="swiper-slide">
              <a  >
                <figure class="">
                  <img
                    src="/assets/img/slider/top1.jpg"
                    alt="slider1"
                    width="375"
                    height="375"
                    title="slider1"
                    class="object-fit-cover"
                  />
                </figure>
              </a>
            </div>
          </ng-template>

          <ng-template swiperSlide>
            <div class="swiper-slide">
              <a  >
                <figure class="">
                  <img
                    src="/assets/img/slider/top2.jpg"
                    alt="slider1"
                    width="375"
                    height="375"
                    title="slider1"
                    class="object-fit-cover"
                  />
                </figure>
              </a>
            </div>
          </ng-template>

          <ng-template swiperSlide>
            <div class="swiper-slide">
              <a  >
                <figure class="">
                  <img
                    src="/assets/img/slider/top3.jpg"
                    alt="slider1"
                    width="375"
                    height="375"
                    title="slider1"
                    class="object-fit-cover"
                  />
                </figure>
              </a>
            </div>
          </ng-template>
        </swiper>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-12 main-page-slider_down-right">
        <a >
          <figure class="">
            <img
              src="/assets/img/slider/gift-card.gif"
              alt="گیفت کارت"
              width="376"
              height="376"
              title="گیفت کارت"
              class="object-fit-cover"
            />
          </figure>
        </a>
      </div>
      <div class="col-md-8 col-12 main-page-slider_down-left">
        <!-- Swiper -->
        <swiper
          [slidesPerView]="1"
          [spaceBetween]="50"
          [navigation]="true"
          [loop]="true"
          [autoHeight]="true"
          [allowTouchMove]="true"
        >
          <ng-template swiperSlide>
            <div class="swiper-slide">
              <a  >
                <figure class="">
                  <img
                    src="/assets/img/slider/down1.jpg"
                    alt="slider1"
                    width="375"
                    height="375"
                    title="slider1"
                    class="object-fit-cover"
                  />
                </figure>
              </a>
            </div>
          </ng-template>

          <ng-template swiperSlide>
            <div class="swiper-slide">
              <a  >
                <figure class="">
                  <img
                    src="/assets/img/slider/down2.jpg"
                    alt="slider1"
                    width="375"
                    height="375"
                    title="slider1"
                    class="object-fit-cover"
                  />
                </figure>
              </a>
            </div>
          </ng-template>

          <ng-template swiperSlide>
            <div class="swiper-slide">
              <a  >
                <figure class="">
                  <img
                    src="/assets/img/slider/down3.jpg"
                    alt="slider1"
                    width="375"
                    height="375"
                    title="slider1"
                    class="object-fit-cover"
                  />
                </figure>
              </a>
            </div>
          </ng-template>
        </swiper>
      </div>
    </div>
  </div>
</section>
