@import "/src/styles/abstracts/mixins";
@import "/src/styles/abstracts/colors";
@import "/src/styles/components/mega-menu";
@import "/src/styles/main.scss";

.btn-login {
  @include button();
  width: 140px;
  height: 40px;
  padding: 5px 15px;
  display: inline-block;

  &:hover {
    transition: all 0.3s;
    background-color: $green-color;
  }
}

header {
  .search-box {
    #search-input {
      @include search-input();
    }

    #search-btn {
      position: absolute;
      right: 8px;
      top: 8px;
      border: none;
      outline: none;
      background-color: transparent;

      .fa-search {
        font-size: 27px;
      }
    }
  }

  #basket-icon {
    height: 27px;
    width: 27px;
    color: #000;
    position: relative;

    i {
      font-size: 29px;
      transition: all 0.3s linear;

      &:hover {
        transition: all 0.3s linear;
        color: $green-color;
      }
    }
  }

  nav {
    border-bottom: 1px solid #e6e6e6;
    font-size: 13px;
    font-weight: 600;

    .nav-item {
      height: 28px;

      .nav-link {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          right: 0;
          bottom: 0;
          background-color: $green-color;
          height: 2px;
          width: 0;
          transition: all 0.4s ease-out;
        }

        &:hover {
          &::before {
            width: 100%;
          }
        }
      }

      .fa-bars {
        font-size: 20px;
      }
    }

    .mega-menu,
    .brands {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 6px;
        background-color: #ccc;
        width: 2px;
        height: 22px;
        border-radius: 10px;
      }
    }

    .mega-menu {
      &::after {
        left: 0px;
      }
    }

    .brands {
      &::after {
        right: 1px;
      }
    }
  }
}
.cart-btn-count {
  position: absolute;
  min-width: 18px;
  padding: 0 2px;
  height: 18px;
  line-height: 18px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00bf6f;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  top: 2px;
  right: -6px;
}
